<footer class="footer" style="background-color: #ceebe2;">

    <div class="row footBound">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-color">
           <div class="form-group">
              <label for="usr">Name:</label>
              <input type="text" class="form-control" id="usr">
              <label for="usr">Email:</label>
              <input type="text" class="form-control" id="usr">
              <label for="usr">Message:</label>
              <textarea class="form-control" id="usr"></textarea>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-color">
            <h1>Contact</h1>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <img  width="50" height="30" src="UX/image/facebook.png">
                 <img  width="50" height="30" src="UX/image/twitter.png">
                 <img width="50" height="30" src="UX/image/g+.png">
                 <img width="50" height="30" src="UX/image/fb.png">
                 <img width="50" height="30" src="UX/image/pin.png">
                 <img width="50" height="30" src="UX/image/linkedin.png">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 style="float: left;">ADDRESS:</h4>
                <h6 style="float: left;">9114 Bridge Street,<br>Hillsboro,OR97124</h6>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 style="float: left;">PHONE: </h4>
                <h6 style="float: left;">+48 202-555-0114</h6>
            </div>
           
        </div>


    </div>
    <div class="row copyRtTxt ">

        <div class="col-md-12 col-sm-12 col-xs-12 text-center copyRtTxt">© Sun Life Assurance Company of Canada. All rights reserved.</div>

    </div>
</footer>
<!-- <footer>
        <div class="col-12">
            <p>&copy; 2016 &#x2013; 2017 Go Digit General Insurance Ltd</p>
        </div>
    </footer> -->



